/**********/
/* RESET */
/*********/



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    color: #000000;
	text-decoration:none;
   
}

a:hover {
	text-decoration: none; 
	color:#000000; 
	
}


a:link, a:visited, a:active {
    color: #000000;
	text-decoration:none;
   
}

a:hover {
	text-decoration: none; 
	color:#000000; 
	
}


    


h1{
    width: 500px;
    height: 50px;
    background-color: #51adbd;
    font-family: verdana;
    font-size: 1.5em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 10px;
    

}

h3{
    width: inherit;
    font-family: verdana;
    font-size: 1.1em;
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 10px;

}

p{
    width: inherit;
    min-height: 20px;
    height: auto;
    overflow: hidden;
    font-family: verdana;
    font-size: 1em;
    line-height: 1.1;
}

.conteudo{
    width: 1300px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    
}

#containerMenu{
    width: inherit;
    height: 50px;
  
    z-index: 999;
    position: fixed;
   
}
/***************/
/*Área da logo*/
/***************/

#logo{
    width: 150px;
    height: inherit;
    background-image: url(../IMAGENS/ianes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
   
}
/***************/
/*Área do Menu*/
/***************/
#menu{
    width: inherit;
    height: inherit;
    background-color: #1474b8;
    float: left;
    
    
}

#listaMenu{
    width: inherit;
    height: inherit;
    margin-left: 260px;
    
}

.itensMenu{
    width: 160px;
    height: inherit;
    color: #000000;
    font-family: verdana;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    float: left;
    padding-top: 13px;
    margin-left:15px;;
    color: #000000;

}


.itensMenu:hover{
    background-color: #ffffff;
    transition: 1s;
    cursor: pointer;
    color: #000000;
}
/**********/
/*SUB MENU*/
/**********/

#subMenu{
    width: inherit;
    height: inherit;

    display: none;
    margin-top: 15px;
    
}

#subMenuItem2:hover{
    background-color: #ffffff;
    transition: 1s;
    cursor: pointer;
    color: #000000;
}

#subMenuItem:hover{
    background-color: #ffffff;
    transition: 1s;
    cursor: pointer;
    color: #000000;
}

#subMenuItem{
    width: 200px;
    height: 60px;
    color: #000000;
    font-family: verdana;
    font-size: 0.8em;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    float: left;
    background-color: #1474b8;
    
    padding-top: 15px;
    padding-left: 10px;
    
    color: #ffffff;
}

#subMenuItem2{
    width: 200px;
    height: 50px;
    color: #000000;
    font-family: verdana;
    font-size: 0.8em;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    float: left;
    background-color: #1474b8;
    
    padding-top: 20px;
    padding-left: 10px;
    
    color: #ffffff;
}

.itensMenu:hover > #subMenu{
    display: block;
}

/***********************/
/*Área das rede Sociais*/
/***********************/
/*
#redeSociais{
    width: 150px;
    height: inherit;
    background-color: beige;
    float: left;
}
/*
.redesSociaisItem{
    width: 47px;
    height: inherit;
    background-color: crimson;
    float: left;
    
    margin-left: 3px;
}
*/
/**************/
/*Espaço menu*/
/************/

#espacoMenu{
    width: inherit;
    height: 50px;
}

/********************/
/***** Titulos *****/
/******************/

.Titulos{
    width:inherit;
    height: 60px;
    background-color: #51adbd;
    font-family: verdana;
    padding-top: 10px;
    padding-left: 10px;
}

/*************************/
/***** Caixa Cursos *****/
/***********************/

#CaixaCursos{
    width: inherit;
    height: 500px;
   
/***** Configuração HTML e CSS *****/    
    
}
#Html{
    width: 50%;
    height: inherit;
    background-color: #e8e297;
}

#HtmlImagem{
    width:80%;
    height: 200px;
    background-image: url(../IMAGENS/HTMLCSS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    float: left;
    margin-top: 20px;
}

#HTMLeCSS{
    width: 100%;
    height: 20px;
   
    float: left;
    text-align: center;
    margin-top: 5px;
    
}

#TextoHTML{
    width: 550px;
    height: 230px;
   font-family: verdana;
    font-size: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 45px;
    text-align: center;
}

/****** Configurações do SISTEMA OPERACIONAL *******/

#SO{
    width: 690px;
    height: 500px;
    background-color: #e8e297;
    margin-top: -500px;
    float: right;
}

#SOimagem{
    width:80%;
    height: 200px;
     background-image: url(../IMAGENS/sistemasOperacionais.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    float: left;
    margin-top: 20px;
}

#SOtitle{
    width: 100%;
    height: 20px;
   
    float: left;
    text-align: center;
    margin-top: 5px;
}

#SOtexto{
    width: 550px;
    height: 230px;
   font-family: verdana;
    font-size: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 45px;
    text-align: center;
}

/*************************/
/***** Nossas Aulas *****/
/***********************/

#informacaoHTML{
    width: 600px;
    height: 100px;
    background-color:#e8e297;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: verdana;
    font-size: 15px;
    text-align: center;
   
    padding-top: 15px;
}

#HTMLtitle{
    width: inherit;
    height: 60px;
    background-color: #51adbd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

#VideosHTML{
    width: inherit;
    height: 250px;
    background-color: #e8e297;

}

#VideosSO{
    width: inherit;
    height: 250px;
    background-color: #e8e297;

}

#VideosSO2{
  width: inherit;
    height: 250px;
    background-color: #e8e297;  
}

#VideosSO3{
  width: inherit;
    height: 250px;
    background-color: #e8e297;  
}

#VideosSOS{
    width: inherit;
    height: 250px;
    background-color: #e8e297;
}

.Video{
    width: 350px;
    height: 230px;
   
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 20px;
}

#DescricaoHTML{
    width: inherit;
    height: 200px;
    background-color: #e8e297;
    
}

#DescricaoSO{
    width: inherit;
    height: 200px;
    background-color: #e8e297;
}

#DescricaoSO2{
    width: inherit;
    height: 200px;
    background-color: #e8e297;
}

#DescricaoSO3{
    width: inherit;
    height: 200px;
    background-color: #e8e297;
}

#DescricaoSOS{
    width: inherit;
    height: 200px;
    background-color: #e8e297;
}

.DescricaoVideo{
    width: 350px;
    height: 180px;
  
    margin-left: 50px;
    float: left;
}

/*********************/
/***** Ver Mais *****/
/********************/

.VerMais{
    width: inherit;
    height: 60px;
    background-color: #51adbd;
    margin-left: auto;
    margin-right: auto;
   ;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

/*******************************************/
/***** Parte de Sistemas Operacionais *****/
/******************************************/

#informacaoSO{
    width: 600px;
    height: 100px;
    background-color:#e8e297;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: verdana;
    font-size: 15px;
    text-align: center;
   
    padding-top: 15px;
}

#TitleSO{
    width: inherit;
    height: 60px;
    background-color: #51adbd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

/********************/
/***** Rodapé  *****/
/******************/

/****************************/
/* Configurações do Rodapé */
/***************************/
 
#CaixaPrincipalRodape{
    width:inherit;
    height: 300px;

}
 
#CaixaSecundariaRodape{
    width:inherit;
    height:inherit;
    background-color: #1474b8;
}
 
.CaixasRodape{
    width: 431px;
    height:inherit;
    background-color: #1474b8; 
    float: right;
    margin-bottom: 10px;
}
 
.linha{
     height: 200px;
     border-right: 3px solid black;
     float: right;
     margin-top: 50px;

}
 
/****************************/
/****** Redes Sociais ******/
/***************************/
 
#RedesSociais{
    width:160px;
    height:25px;

    margin-top: 60px;
    
    font-family: verdana;
    text-align: center; 
    font-size: 1.2em;
    color: #ffffff;
    
    margin-left: 65px;
}
 
#FotoRedeSocial1{
    width:70px;
    height:70px;
    background-image: url(../IMAGENS/face.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    float:left;
    margin-left: 18px;
    margin-top: 10px;
}

#FotoRedeSocial2{
    width:70px;
    height:70px;
    background-image: url(../IMAGENS/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    float:left;
    margin-left: 18px;
    margin-top: 10px;
    
}

#FotoRedeSocial3{
    width:70px;
    height:70px;
    background-image: url(../IMAGENS/insta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    float:left;
    margin-left: 18px;
    margin-top: 10px;
}
 
#centralizacao{
    margin-left: 80px;
}

.seguir{
    margin-top: 70px;
    margin-left: 5px;
}
 
/****************************/
/******** Contatos **********/
/****************************/
.Contatos{
    width:250px;
    height: 25px;
   
    margin-top: 28px;
    margin-left: 100px;
    
  font-family: verdana;
    text-align: center; 
    font-size: 1em;
    color: #ffffff;
}
 
/*******************************/
/* Nome, logo, e alguns textos */
/******************************/
 
#NomeRodape{
    width: 200px;
    height: 25px;

    margin-top: 10px;
    margin-left: 120px;
    
     font-family: verdana;
    text-align: center; 
    font-size: 1.4em;
    color: #ffffff;
}
 
#textoComico{
    width: 300px;
    height: 20px;
   
    margin-top: 20px;
    margin-left: 65px;
    
     font-family: verdana;
    text-align: center; 
    font-size: 1em;
    color: #ffffff;
}
 
#LogoRodape{
    width: 320px;
    height: 120px;
    background-image: url(../IMAGENS/ianes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    margin-top: 30px;
    margin-left: 55px;
}
 
#Reservado{
    width: inherit;
    height: 20px;
  
    margin-top: 35px;
    margin-left: 55px;
    
     font-family: verdana;
    
    font-size: 1em;
    color: #ffffff;
}

